body {
    background: linear-gradient(to right, #7ae5ec 0%, #86f17d 100%);
    display: flex;
    justify-content: center;
    align-self: start;
    flex-direction: row;
    font-family: sans-serif;
}


#gameScreen {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin-left: 12vw;
    display: flex;
    
}

img { /* if you choose the id of ball it will display two balls one in canvas other in HTML*/
    display: none;
}


.heart {
    width: 80px;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 100px;
    top: 60px;
}

#two {
    left: 180px;
}

.lives > p {
    top:0px;
    left: 150px;
    position: absolute;
    font-size: 30px;
    
}

h2 {
    top:130px;
    left: 115px;
    position: absolute;
    font-size: 30px;
    
}

h3, h3 > * {
    margin-top: 40vh;
    font-size: 2rem;
}





